<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous" />
    -->

    <script>
        window.app = window.app || {};
        app.siteRoot = "@Url.Content("~/")";
    </script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/dou/css")

    <!-- custom css -->
    @Styles.Render("~/iHub/css")
    <link href="~/Scripts/gis/b3/css/bootstrap.css" rel="stylesheet">
    @*@Styles.Render("~/content/prj/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/dou/js")

    <link href="~/Images/logo.ico" rel="icon" />

    <title>Ftis iHub</title>

</head>
<body>
    <!-- navbar section start -->
    <nav class="navbar bg-body-tertiary sticky-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Images/logo.png" alt="Ftis" width="auto" height="25" />
            </a>

            <div class="d-flex align-items-center d-none">
                <div class="dropdown-center">
                    <a href="index.html" class="px-2 px-lg-3">
                        <img src="~/Images/house-solid.svg"
                             width="auto"
                             height="25"
                             class="nav-icon" />
                    </a>
                </div>

                <div class="dropdown-center d-none d-lg-block">
                    <button class="btn dropdown-toggle"
                            type="button"
                            aria-expanded="false"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="百老匯">
                        <a href="#">
                            <img src="~/Images/comment-dots-solid.svg"
                                 width="auto"
                                 height="25"
                                 class="nav-icon" />
                        </a>
                    </button>
                </div>

                <div class="dropdown-center d-none d-lg-block">
                    <button class="btn dropdown-toggle"
                            type="button"
                            aria-expanded="false"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="個人排班班表">
                        <a href="#">
                            <img src="~/Images/calendar-days-solid.svg"
                                 width="auto"
                                 height="25"
                                 class="nav-icon" />
                        </a>
                    </button>
                </div>

                <div class="dropdown-center d-none d-lg-block">
                    <button class="btn dropdown-toggle"
                            type="button"
                            aria-expanded="false"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-bs-title="人員基本資料管理">
                        <a href="#">
                            <img src="~/Images/user-solid.svg"
                                 width="auto"
                                 height="25"
                                 class="nav-icon" />
                        </a>
                    </button>
                </div>

                <div class="dropdown-center">
                    <button class="btn dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <img src="~/Images/gear-solid.svg"
                             width="auto"
                             height="25"
                             class="nav-icon" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="dropdown-item">帳 號:J11150</li>
                        <li class="dropdown-item">名 稱:繆照慶</li>
                        <li class="dropdown-item">IP:61.222.155.163</li>
                        <li class="dropdown-item"><hr /></li>
                        <li><a class="dropdown-item" href="#">登出</a></li>
                    </ul>
                </div>

                <button class="navbar-toggler d-xl-none"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar"
                        aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- navbar section end -->
    <!-- main section start -->
    <div class="container mt-4">
        <div class="row g-3">
            <!-- main schedule start -->
            <div class="col">
                <div class="right-section">
                    <!-- main img start -->
                    <div class="right-section-img shadow rounded-3 overflow-hidden position-relative">
                        <img src="~/Images/main_banner_1.png" alt="" />
                        <span class="position-absolute top-50 start-0 fw-bold fs-2 greet news-header">員工班表挑選</span>
                    </div>
                    <!-- main img end -->
                    <!-- body-content -->
                    <div class="body-content">
                        @RenderBody()@*各controoler資料*@
                    </div>
                </div>
            </div>
            <!-- main schedule end -->
        </div>
    </div>

    <!-- main section end -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll(
        '[data-bs-toggle="tooltip"]'
      );
      const tooltipList = [...tooltipTriggerList].map(
        (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
      );
    </script>
</body>
</html>